extends _template

block var
	- var pageTitl = "The Yellow Bar" + " | Type is Beautiful"
	- var pageDisc = "The Yellow Bar for Type is Beautiful"
	- var pageKeyw = "web, design, develop, demo, interaction"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	main
		.topbar
			a#yellow(href="javascript:void(0)")
