@charset "UTF-8";
/**
 * Depend on Normalize.css and Autoprefixer
 */
body {
  margin: 0;
  z-index: 0;
  background-color: #f8f8f5;
}
.topbar {
  position: relative;
  width: 100%;
  height: 10px;
  z-index: 100;
  background-color: black;
}
/*! Yellow Bounce */
#yellow {
  position: fixed;
  top: 0;
  left: 70%;
  width: 100px;
  height: 10px;
  z-index: 900;
  background-color: #fff159;
  will-change: transform;
}
#yellow.animate {
  -webkit-animation: yellowBounce 0.5s cubic-bezier(0.64, 0.16, 0.84, 0.45) 1s 4 alternate;
          animation: yellowBounce 0.5s cubic-bezier(0.64, 0.16, 0.84, 0.45) 1s 4 alternate;
}
@-webkit-keyframes yellowBounce {
  0%,
  10% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 3, 1);
            transform: scale3d(1, 3, 1);
  }
}
@keyframes yellowBounce {
  0%,
  10% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 3, 1);
            transform: scale3d(1, 3, 1);
  }
}
/*! Yellow Bounce END */
